<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gqsystem">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ProjectDoingActivity" />
        <activity android:name=".ui.activity.ProjectToDoActivity" />
        <activity android:name=".ui.projectlist.standardization.StandardizationActivity" />
        <activity android:name=".ui.projectlist.doubleprevention.DoublePreventionActivity" />
        <activity android:name=".ui.projectlist.evaluate.EvaluateActivity" />
        <activity android:name=".ui.projectlist.securitymanagement.SecurityManagementActivity" />
        <activity android:name=".ui.projectlist.informationize.InformationizeActivity" />
        <activity android:name=".ui.projectlist.govproject.GovProjectActivity" />
        <activity android:name=".ui.projectlist.specialrectification.SpecialRectificationActivity" />
    </application>

</manifest>